body {

    background-color: white;
    margin:0;
    padding:0;
    font-family: 'Titillium Web', sans-serif;
    list-style: none;
}

 .name {
    height: 200px;
    width: 100%;
    background:aqua;
    
    
 }

 
 .name .personal {  
    height: 35xp;
    width: 50%; 
    color:black;
    position: absolute;
    right: 30%;
    
    
 }

.name .personal .a-1{
    font-weight: bolder;
    

}
 
.name .personal .a-2{


}